*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: #121213;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

   margin: 0;
   padding: 1em;

   font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
}

.key{
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 200), 
        var(--saturation, 1%), 
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.key.large{
    grid-column: span 3;
}

.key:hover, .key:focus{
    --lightness-offset: 10%;
}

.key.wrong{
    --lightness: 23%;
}

.key.wrong-location{
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct{
    --hue: 115;
    --saturation: 51%;
    --lightness: 47%;
}

.guess-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em;
}

.tile {
    font-size: 2em;
    color: white;
    border: .05em solid #3a3a3c;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.tile[data-state="active"]{
    border-color: #565758;
}

.tile[data-state="wrong"]{
  border: none;
  background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong-location"]{
    border: none;
    background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"]{
    border: none;
    background-color: hsl(115, 51%, 47%);
}